body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 700px;
    box-sizing: border-box;
}
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}
li:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
}
a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}